# Example of the top-level /opt/stagecoach/settings file.

# Currently this is the only allowable value
DIR=/opt/stagecoach


# User to launch individual webapps as.
# Since they do not listen on port 80 this should not be root
USER=nodeapps
